html {
    font-family: "Passion One", "Tahoma", "SansSerif", serif;
    background-color: aqua;
    background-image: url("../img/ocean.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #628EA2;
    color: white;
}

.logo {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 10px;
    transition: 0.3s ease;
    padding: 10px;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
}

#bookNow {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
}

a:active {
    background-color: #04AA6D;
}

.gapToShowBackground {
    content: "";
    height: 600px;
}

#captain {
    display: flex;
    background-color: aqua;
    margin: 114.25px 50px 50px 50px;
    border: 5px solid white;
}

#stewPic {
    margin: 50px 50px 50px 50px;
    width: 500px;
    border: 5px solid white;
}

#stewBio {
    margin: 50px 50px 50px 50px;
    width: 500px;
    /*border: 5px solid white;*/

}
#stewBio h2{
    text-align: center;
    /*text-decoration: underline;*/
    font-size: 40px;
}

#boat {
    display: flex;
    background-color: aqua;
    margin: 50px 50px 50px 50px;
    border: 5px solid white;
}

#boatPic {
    margin: 50px 50px 50px 50px;
    width: 600px;
    border: 5px solid white;
}

#boatInfo {
    margin: 50px 50px 50px 50px;
    width: 500px;
    font-size: 50px;
}

.footer {
    color: white;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 1px;
}
