html {
    font-family: "Passion One Regular", "Tahoma", "SansSerif", serif;
    background-color: aqua;
    background-image: url("../img/ocean.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #628EA2;
    color: white;
    border-bottom: white;
}

.navbar li {
    /*float: left;*/
    font-weight: bolder;
}

/*.navbar li a:hover {*/
/*    background-color: #111;*/
/*}*/

.logo {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 50px;
    transition: 0.3s ease;
}
.menu li {
    /*padding: 5px 14px;*/
}


.navbar a {
    display: block;
    color: white;
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    text-decoration: none;
}

.active {
    background-color: #04AA6D;
}

#captain {
    display: flex;
    margin: 50px auto;
    width: 85%;
    height: 750px;
    /*border: 5px solid white;*/
    background-color: aqua;
}

#stewPic {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}